div{
    border: 1px solid black;
}

.main{
    display: grid;
    grid-template-columns:350px  1400px;
    grid-template-rows: 200px 1000px;
}

.sidebar{
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 100px 400px 500px;
    justify-items: start;
    background-color: #0ea5e9;
    color: antiquewhite;
}

#sideLogo{
    
    width: 60px;
    height: 60px;
    margin: 20px;
}

.sidebar .title{
    display: grid;
    grid-template-columns: 100px auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    font: 40px bold ;
    
}

.sidebar

.header{
    grid-area: 1/2/2/3;
}

.content{
    grid-area: 2/2/3/3;
}