div{
    border: 1px solid black;
}

.main{
    display: grid;
    grid-template-columns:350px  1400px;
    grid-template-rows: 200px 1000px;
}

.sidebar{
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 100px 400px 500px;
    justify-items: start;
    background-color: #0ea5e9;
    color: antiquewhite;
}


.sideLogo{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(74deg) brightness(104%) contrast(102%);
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    top: -5px;
    left: -5px;
    position: absolute;
}

#sideLogo{
    
    width: 60px;
    height: 60px;
    margin: 20px;
    position: inherit;
}


.sidebar .title{
    display: grid;
    grid-template-columns: 100px auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    font: 40px bolder;
    font-weight: 600;
    
}

.sidebar ul{
    list-style-type: none;
}

.sidebar li{
    position: relative;
    margin-top: 20px;
    font-size:25px;
    font-weight:700;
}

li div{
    display: inline-block;
    text-align: center;
    margin-left: 45px;
}

.header{
    grid-area: 1/2/2/3;
}

.content{
    grid-area: 2/2/3/3;
}